@model PizzaApplication.Models.Pizza
 @Html.ActionLink("Back","Index","Pizza")
@*<form action="Create" method="post">
    <label class="form-control">Pizza ID</label>
    <input type="number" name=id class="form-control" />
     <label class="form-control">Pizza Name</label>
    <input type="text" name=name class="form-control" />
     <label class="form-control">Pizza Price</label>
    <input type="number" name=price class="form-control" />
    <div class = "checkbox">
            <label> <input type = "checkbox" name="isVeg"> Is Veg? </label>
         </div>
    <input type="submit" value="Create Pizza" class="btn btn-success"/>
</form>*@
@using(Html.BeginForm("Create","Pizza",FormMethod.Post)){
    @Html.LabelFor(m=>m.PizzaID,htmlAttributes:new{@class="form-control"})
    @Html.EditorFor(m=>m.PizzaID,new{@htmlAttributes=new{@class="form-control"}})
    @Html.LabelFor(m=>m.Name,htmlAttributes:new{@class="form-control"})
    @Html.EditorFor(m=>m.Name,new{@htmlAttributes=new{@class="form-control"}})
    @Html.LabelFor(m=>m.Price,htmlAttributes:new{@class="form-control"})
    @Html.EditorFor(m=>m.Price,new{@htmlAttributes=new{@class="form-control"}})
    @Html.LabelFor(m=>m.IsVeg,htmlAttributes:new{@class="form-control"})
    @Html.CheckBoxFor(m=>m.IsVeg,new {@checked=Model.IsVeg})
     <input type="submit" value="Create Pizza" class="btn btn-success"/>
}