@model IEnumerable<PizzaApplication.Models.Pizza>

    @*<a href="pizza/create">Add a Pizza</a>*@
    @Html.ActionLink("Add a Pizza","Create","Pizza")
    <table class="table table-striped">
        <thead>
             <tr>
               <th>
                  Id
               </th>
               <th>
                   Name
               </th>
               <th>
                  Price
               </th>
               <th>
                  IsVeg
               </th>
           </tr>
        </thead>
      <tbody>
           @foreach (var item in Model)
       {
           <tr>
               <td>
                   @item.PizzaID
               </td>
               <td>
                   @item.Name
               </td>
               <td>
                   @item.Price
               </td>
               <td>
                 @* <input type="checkbox" checked= @item.IsVeg>*@
                 @Html.CheckBoxFor(m=>item.IsVeg,new {@checked=@item.IsVeg})
               </td>
           </tr>
       }
      </tbody>
    </table>
